*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}
.header {
    width: 100%;
    padding: 15px 0;
    text-align: right;
    font-size: 24px;
    font-weight: 300;
    color: gray;
}

.header_logo {
    color: inherit;
    text-decoration: none;
    margin-right: 40px;
    
}

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.hero_container {
    display: grid;
    grid-template-columns:
    repeat(auto-fit,
    minmax(290px, 1fr));
    grid-gap: 20px;
}

.hero_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_title {
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-subtitle {
    font-size: 32px;
    font-weight: 400;
    margin-right: 0px;
}

.hero_links {
    display: flex;
}

.hero_links {
    margin-right: 10px;
    font-size: 30px;
    color: #000;
    transition: color 0.3s;
    text-decoration: none;
}

.hero_links:hover {
    color: #4facfe;
}

.hero_box {
    max-width: 600px;
   
    justify-self: center;
    overflow: hidden;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border: 5px solid #F5F5DC;
    box-shadow: 2px 5px 10px 
    rgba(0, 0, 0, 0.5);
    animation: ava-animate 5s infinite alternate;
}

.hero_box-img {
    animation: ava-bg 3s infinite alternate;
}
.hero_me {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_me {
    margin-left: 0px;
    font-size: 15px;
    color: #000;
    transition: color 0.3s;
    text-decoration: none;
}

.hero_me:hover {
    color: #4facfe;
}

.footer {
    width: 100%;
    padding: 15px 0;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    color: gray;
    margin-left: 80px;
}

@media  screen and (max-width: 900px) {
    .hero {
        padding-top: 30px;
    }
    .hero_container {
        grid-row-gap: 20px;
    }
    .hero_title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .hero_subtitle {
        font-size: 24px;
        font-weight: 400;
    }
    .hero_description {
        font-size: 15px;
    }
    .hero_about {
        text-align: center;
    }
    .hero_links {
        justify-content: center;
    }
    .hero_box {
        max-width: 350 px;
    }
}

@keyframes ava-animate {
    0%{
        border-radius: 61% 39% 44% 56% / 26% 68% 32% 74%  ;
    }
    
    40%{
        border-radius: 33% 67% 44% 56% / 48% 41% 59% 52%   ;
    }
    
    60%{
        border-radius: 19% 81% 44% 56% / 66% 24% 76% 34%  ;
    }
    
    80%{
        border-radius: 34% 66% 44% 56% / 35% 69% 31% 65%  ;
    }
    100%{
        border-radius: 47% 53% 44% 56% / 48% 32% 68% 52%   ;
    }
}
@keyframes ava-bg {
    from {
        backdrop-filter: hue-rotate(0deg);
    }
    to {
       backdrop-filter: hue-rotate(90deg);
    }

}
